{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->

{% block outer %}
  <div class="off-canvas-container">
    {{ nav(page, {classes: 'off-canvas-nav ', logo: true, showChildren: true}) }}
  </div>
{% endblock%}

{% block header %}
  <div class="block top">
      <div class=" ">
        <header>


          {% block banner %}
          {% endblock%}


          <!--<h1>{{ __('All lessons') }}</h1>-->

          <a href="#" class="off-canvas-trigger ">
            <svg class="a-toolbox">
              <use xlink:href="#a-toolbox" />
            </svg>
          </a>

        </header>

        {% block headerContent %}
      {% endblock %}
    </div>
  </div>
  <div class="block header {% block upperClass %}{% endblock %}">
    {% block headerBackground %}{% endblock %}

  </div>
{% endblock %}

{% block main %}
  {# most content will be just fine sitting within our 'block' class, but we always #}
  {# have the option to override the 'main' block if we want a little more control. #}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block extraContent %}
{% endblock %}

{# notice that this footer uses global areas: if we want editable content to appear #}
{# on every page that inherits this one we want to use the global object instead of #}
{# the page object. #}

{% block footer %}
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>ПЕРФЕКТ центр развития</h3>

    <p class="footer-links">
      <a href="index.php?page=main&amp;lang=ru">Главная</a>
      .
      <a href="index.php?page=departments&amp;lang=ru">Услуги</a>
      .
      <a href="index.php?page=collection&amp;lang=ru">Коллекция</a>
      .
      <a href="index.php?page=contact&amp;lang=ru">Контакт</a>
      .
      <a href="index.php?page=information&amp;lang=ru">Информация</a>
    </p>

    <p class="footer-company-name">P E R F E K T © 2015</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>

      <p><span>BÜROZEITEN:</span>MO-SA 9:00-19:00
        <span>Habsburgergasse 4/4</span> 1010 Wien, Österreich</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+43 676 421 6282
        <br>
        +43 1 8904454
      </p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:office@zentrumperfekt.at">office@zentrumperfekt.at</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span></span>
      КАЖДЫЙ ИМЕЕТ ПРАВО НА РАЗВИТИЕ СПОСОБНОСТЕЙ И ТАЛАНТОВ                </p>

    <div class="footer-icons">

      <a href="https://www.facebook.com/tivms"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/IRINATATARENKO7"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="http://ok.ru/perfektper"><i class="fa fa-odnoklassniki"></i></a>

    </div>

  </div>
    {{ aposLocalePicker() }}
    {{ aposLocalizationMenu({ edit: permissions.admin }) }}

</footer>
{% endblock %}
